# Intro to MongoDB and the Nobel Prize Dataset - Exercise

## 1. Instantiate `MongoClient` and connect to the to the nobel database.

In [ ]:
from __ import __
client = __

In [ ]:
db = __.__
print(db)

<br>

## 2. Obtain a document from the `laureates` collection and display its contents.

In [ ]:
doc = db.__.__(__)

In [ ]:
doc

<br>

## 3. Obtain a list of tuples containing the first (`"firstname"`) and last (`"surname"`) name of each laureate in the database who died (`"diedCountry"`) in USA.

In [ ]:
cursor = db.__.__({__: __})

In [ ]:
names = [(doc[__], doc[__]) for __ in __]

In [ ]:
names

<br>

## 4. Did any of the above laureates receive more than one prize? Generate a list of tuples with their first name and the total number they were awarded.

In [ ]:
cursor = db.__.__(__)

In [ ]:
names = [(doc[__], len(doc[__])) for __ in __ if len(doc[__]) > 1]

In [ ]:
names